<section class="wrapper">

<!-- top part -->
	<div class="poll row clearfix">
		<div class="col-md-12 column">
			<div class="poll_scene">

				<img class="poll_scene_layer" src="<%= @poll_scene.image.url %>" />
			
			</div>
		     
		</div>
	</div>
<!-- end top part -->

<!-- download button -->
	<div class="row row-nomargin clearfix">

		<div class="poll banner theme-green">

			<div class="well well-frame col-md-12">
			
				<div class="col-md-8">
				<h3>Keep voting until October 2nd!</h3>
				<h4>Then come back for updates on YOUR cartoon, and for the WORLD PREMIERE JANUARY 9th!</h4>
				</div>

				<div class="col-md-4">
					<%= link_to "Download Your Scene", @poll_scene.image.url(:original, false), html_options ={id: "poll_scene_download", class: "btn btn-lg btn-primary btn-block", "data-override" => "true"} %>


				</div>

			</div>

		</div>
	</div>

<!-- end submit button -->



<%= render partial: "polls/template_scene_votes" %>



</section>