<% if list_items.empty? %>
	<center><h2>No items found.</h2></center>
<% else %>
	
	<div class="col-xs-12">
		<h2>hi</h2>
		<div class="poll-slider-parent">
			
			<ul class="bxslider poll-slider slider ">
				<% list_items.each do |item| %>
					<li data="<%= item.id %>">
						<%=  image_tag(item.image, :width => '120', :class => "poll-image data-id=#{item.id}") %>
					</li>
				<% end %>
			</ul>
		</div>
		
		<% f.hidden_field :item_id, :id => 'avatar_id' %>
		

	</div>

<% end %>